pyrogram
numpy
yt-dlp
Pillow
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor==3.3.2  # MongoDB async driver
pymongo==4.6.1  # MongoDB driver (motor depends on this)
beautifulsoup4
humanize
Flask==2.2.2
gunicorn==20.1.0
aiohttp
